body {
   margin: 0;
   background-color: white;
}

* {
   box-sizing: border-box;
}

.material-icons.md-1 { font-size: 1vw; }
.material-icons.md-2 { font-size: 2vw; } /* Default */
.material-icons.md-3 { font-size: 3vw; }
.material-icons.md-4 { font-size: 4vw; }

#accountLogo{
   color: gray;
/*margin-right: 2em;*/
width:100%;
cursor: default;
margin-right: 0.3em;
background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius:5em;
 /* background-color: #cccccc; /* Used if the image is unavailable */
}
#userName{
   font-size: 1.2vw;
   text-align: center;
   display: block;
   padding-right: 0.4em;
}
/*#accountLogo:hover{
   cursor: default;
}*/

ul {
   list-style-type: none;
   margin: 0;
   padding-right: 1em;
   padding-top: 0.5em;
   overflow: auto;
   background-color: #000;
   position: fixed;
   top: 0;
   width: 100%;
   box-shadow: 0 1em 1.4em 0 rgba(0, 0, 0, 0.2);
}

li {
   float: right;
}

li a {
   display: block;
   color: #AAA;
   text-align: center;
   padding: 14px 1em;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-size: 1.5vw;
}

li a:hover:not(.active) {
   color: #FFF;
}

.active {
   color: #FFF;
   border-bottom: 0.2em #FFF solid;
}

.responsiveDiv {
   width: 100%;
   margin-top: 5em;
}

.card {
   box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   width: 30%;
   background-color: white;
   float: left;
}

.card:hover {
   box-shadow: 0 1em 1.4em 0 rgba(0, 0, 0, 0.2);
}

.container {
   padding: 0.5em 1em;
}

img {
   width: 100%;
}

#logo {
   /*margin: 0 1em 0 0;*/
   padding: 0;
}

#card1 {
   background-color: #FFC164;
}

#card2 {
   background-color: #FF9666;
}

#card3 {
   background-color: #FE3845;
}

h4 {
   font-family: 'Roboto', sans-serif;
   font-size: 2vw;
   color: white;
}

p {
   font-family: 'Roboto', sans-serif;
   font-size: 1.5vw;
   color: white;
}
