#cardReservation {
   margin: 5em;
   width: 75%;
   height: 50vh;
}

div.calendar {
   max-width: 240px;
   margin-left: auto;
   margin-right: auto;
}

div.calendar table {
   width: 100%;
}

div.dateField {
   width: 8em;
   padding: 0.5em;
   -webkit-border-radius: 5em;
   -moz-border-radius: 5em;
   color: #555;
   background-color: white;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

div#popupDateField:hover {
   background-color: #cde;
   cursor: pointer;
}
